* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


li {
    list-style: none;
}


#completas li {
    text-decoration: line-through;
    color: #888;
}


.completas {
    text-decoration: line-through;
    color: #888;
}


body {
    
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 40px;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;

}



#container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 900px; 
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    margin: auto; 
    flex-grow: 1;
}


#tarefas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}


#concluidas, #pendentes {
    width: 47%;

}


h1 {
    margin-bottom: 10px;
    color: #333;
}


#nova-tarefa {
    padding: 10px;
    width: 50%;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 7px;
    font-size: 15px;
    font-weight: 400;
}
#nova-prazo {
    padding: 10px;
    width: 30%;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 7px;
    font-size: 15px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
#nova-descricao {
    padding: 10px;
    width: 67.5%;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 25px;
    font-size: 15px;
    font-weight: 400;
    margin-left: 10px;
}


button {
    padding: 10px 18px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight:700;

}

.add{
    margin-right: 18px;
}

button:hover {
    background-color: #218838;
}


h3 {
    padding-bottom: 2px;
    margin-bottom: 10px;
    color: #555;
}


ul {
    list-style-type: none;
    padding: 0;

}


li {
    padding: 10px;
    background-color: #f9f9f9;
    margin-bottom: 10px;
    border-radius: 5px;
    color: #333;
    text-align: left;
    
}


li input[type="checkbox"] {
    margin-right: 10px;

}


li.completas {
    text-decoration: line-through;
    color: #888;

}


li:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}


#rodape {
    text-align: center;
    padding: 25px;
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: 14px;
}


#rodape p {
    margin: 0;
    color: #888;
}

.botaoRemover{
    padding: 5px 10px;
    background-color: #a72828;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
    font-weight:700;
}

.botaoRemover:hover {
    background-color: #882121;
}

li.completas .botaoRemover {
    padding: 5px 10px;
    background-color: #a72828;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
    font-weight:700;
}

.botaoEditar:hover {
    background-color: #969696;
}

li.completas .botaoEditar {
    padding: 5px 10px;
    background-color: #afaeae;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
    font-weight:700;
}

.botaoEditar {
    padding: 5px 10px;
    background-color: #afaeae;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
    font-weight:700;
}


.inputEdicao[type="text"] {
    padding: 9px;
    border: 1px solid #ddd;
    font-size: 12px;
    font-weight: 400;
    margin: auto;
    border-radius: 5px;
}

.inputData[type="datetime-local"]{
    padding: 8px;
    cursor: pointer;
    border: 1px solid #ddd;
    font-size: 12px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    border-radius: 5px;
}

.inputDesc[type="text"] {
    width: 95%;
    padding: 9px;
    border: 1px solid #ddd;
    font-size: 12px;
    font-weight: 400;
    margin: auto;
    border-radius: 5px;
}

.Container-Botao-Li{
    display: flex;
    gap: 3px; 
    margin-left: auto;

}

.Cab-Task {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;

}

.prazoTarefa {
    font-size: 12px;
}

.descTarefa {
    font-size: 12px;
}

.nomeTarefa {
    font-size: 15px;
    font-weight: 600;
}

.Div-Task{
    flex-direction: column;
    display: flex;
}

.divPrin {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;

}

.divPri {
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    
}

.divSec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Alinha o botão ao centro da div */
    margin-top: 8px;
    
}

.botaoSalvar {
    width: 75%;
    margin-top: 15px;
    margin-right: 10px;

}


  